/*  style for navigation bar */

.navbar-inverse {
    margin-bottom: 0;
    border-radius: 0;
    background-color: rgb(58, 115, 177)!important;
    color: black;
    
  }



.nav a  ,.navbar-header a  {
    color: whitesmoke!important;
    font-weight: bolder;
   
    font-size: large;
    font-style: normal!important;
  }


    .nav a:hover  {
        color: rgb(13, 212, 79)!important;
        visibility: visible;
      }

     
      .navbar-right
      {

        text-align: center!important;
      
      }

      /*  */
    


.form-control
{
  margin-bottom: 3vw;
}



body
{
overflow-x: hidden;
color:wheat;
 
}



 #L {
    float: left;
    width: 0.7em;
    font-size: 400%;
    font-family: algerian, courier;
    line-height: 80%;
    color: rgb(247, 14, 14);
}


.form-module {
  position: relative;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
 
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.btn
{
  width: 100%;
}


ul li a{

  color: #ffffff;
}